* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    list-style: none;
    text-decoration: none;
}
body{
    margin: 0 auto; 
    max-width: 100%;   
    min-height: 100vh;  
}



/* =====================================================
                Form - Input Fields
===================================================== */
.form__container{
    margin: 0 auto;
    margin-top: 2rem;
    max-width: 632px;
    padding: 1rem;
    background-color: #999999;
}
.input__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 1rem;
}
.inputBoxLabel{
    color: black;
    font-weight: bold; 
    font-size: 1.2rem;   
    width: 18ch;
    margin-bottom: 5px;
}
.inputBox{
    width: 320px;
    padding: 0.5rem;    
}



/* =====================================================
                        Buttons
===================================================== */
.button__container{
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
button{
    margin: 0 auto;
    width: 12ch;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: black 2px 2px 5px;
    color: white;
}
button:hover{
    box-shadow: black 5px 5px 5px;
}
.btn__clear{
    background-color: #777;
}
.btn__submit{
    background-color: green;
}

