* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    list-style: none;
    text-decoration: none;
}
body{
    margin: 0 auto; 
    max-width: 100%;   
    min-height: 100vh; 
}
header{
    background-image: linear-gradient(rgb(0, 0, 0),  rgb(0, 0, 0, 0.3));
    color: white;
    padding-right: 1rem;
    padding-left: 1rem;
}
header h1{    
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    padding-top: 1rem;
}
header h2{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.1rem;
    padding-top: 0rem;
    padding-bottom: 1rem;
}
.about__container{    
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 1000px;
    background-color: #999999;
    padding: 1rem;
    line-height: 1.4rem;
    text-align: justify;
}
.background__image{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;            
    background-position: center center;
    background-size: cover;
    z-index: -2;    
    background-image: url(./Metal_Gears_Background_Image.jpg);     
}
.background__overlay{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;       
    background-color:rgb(11, 36, 36);
    opacity: 0.95;
    z-index: -1;
}


/* =====================================================
                Form - Input Fields
===================================================== */
.form__container{
    margin: 0 auto;
    margin-top: 2rem;
    max-width: 632px;
    padding: 1rem;
    background-color: #999999;
}
.input__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 1rem;
}
.inputBoxLabel{
    color: black;
    font-weight: bold; 
    font-size: 1.2rem;   
    width: 18ch;
    margin-bottom: 5px;
}
.inputBox{
    width: 320px;
    padding: 0.5rem;    
}



/* =====================================================
                        Buttons
===================================================== */
.button__container{
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
button{
    margin: 0 auto;
    width: 12ch;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: black 2px 2px 5px;
    color: white;
}
button:hover{
    box-shadow: black 5px 5px 5px;
}
.btn__clear{
    background-color: #777;
}
.btn__submit{
    background-color: green;
}


/* =====================================================
                        dataTextBox
===================================================== */
.data__container{
    margin: 0 auto;
    margin-top: 2rem;
    min-height: 10rem;
    max-width: 632px;
    background-color: #fff;
    padding: 1rem;
}
.data__container__intro{
    line-height: 1.4rem;
    padding-bottom: 1rem;    
}

#dataTextArea{
    height: 100%;
    width: 100%;
    min-height: 12rem;
    border: black 3px solid;
}
