@font-face {
    font-family: 'Special Elite';
    src: url(../fonts/SpecialElite-Regular.ttf);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    list-style: none;
    text-decoration: none;
}
body{
    margin: 0 auto; 
    max-width: 100vw;   
    min-height: 100vh;  
}
.background__image{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;            
    background-position: center center;
    background-size: cover;
    z-index: -2;    
    background-image: url(../headtags/Metal_Grill_Background_Image.jpg);     
}


.background__overlay{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;       
    background-color: rgb(0, 10, 0);
    opacity: 0.8;
    z-index: -1;
}
.flex__center{
    display: flex;
    justify-content: center;
    text-align: center;
}
header{
    background-image: linear-gradient(rgb(0, 0, 0),  rgb(0, 0, 0, 0.3));
    color: white;
    padding-right: 1rem;
    padding-left: 1rem;
}
header h1{    
    font-size: 2rem;
    padding-top: 1rem;
}
header h2{
    font-size: 1.1rem;
    padding-top: 0rem;
    padding-bottom: 1rem;
}
.about__container{    
    margin: 0 auto;
    margin-top: 2rem;
    max-width: 1000px;
    background-color: #999999;
    padding: 1rem;
    line-height: 1.4rem;
    text-align: justify;
}
.form__container{
    margin: 0 auto;
    margin-top: 2rem;
    max-width: 632px;
    padding: 1rem;
    background-color: #999999;
}
.label{
    color: black;
    font-weight: bold; 
    font-size: 1.2rem;   
    width: 18ch;
    margin-bottom: 5px;
}
.inputBox{
    width: 320px;
    padding: 0.5rem;    
}
.input__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 1rem;
}
#siteDescription{
    height: 120px;
}
textarea {
    resize: none;
}
button{
    width: 12ch;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: black 2px 2px 5px;
    color: white;
}
button:hover{
    box-shadow: black 5px 5px 5px;
}
.btn__clear{
    background-color: #777;
}
.btn__submit{
    background-color: green;    
}
.button__container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.results__container{
    margin: 0 auto;
    margin-top: 2rem;
    min-height: 10rem;
    max-width: 632px;
    background-color: #fff;
    padding: 1rem;
}
#resultURL{
    color:#202124;
    font-size: 14px;
    line-height: 1.3;
    font-style: normal;
    font-weight: normal;
}
#resultName{
    color: #1a0dab;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.3;
}
#resultDescription{
    color: #4d5156;
    font-size: 14px;
    line-height: 1.58;
    font-weight: normal;
}
.meta__container{
    margin: 0 auto;
    margin-top: 2rem;
    min-height: 10rem;
    max-width: 632px;
    background-color: #fff;
    padding: 1rem;
}
.meta__container__intro{
    line-height: 1.4rem;
    padding-bottom: 1rem;
    
}
a{
    text-decoration: none;
    color: blue;
}
#metaDataBoilerPlate{
    height: 100%;
    width: 100%;
    min-height: 30rem;
    border: black 3px solid;
}
.notes{
    margin: 0 auto;
    max-width: 632px;
    line-height: 1.4rem;
    padding: 1rem;
    background-color: #fff;
}

.notes li{
    margin-left: 5ch;
}



footer {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    width: 100%;
    justify-content: space-evenly;
    color: white;
    margin-top: 2rem;
}
.footer__about {
    max-width: 90%;
    line-height: 1.5;
    text-align: justify;
    padding-top: 1rem;
    border-top: solid #808080 3px;
    padding-bottom: 1rem;
    border-bottom: solid #808080 3px;
    margin-bottom: 3rem;
}
.footer__about h3,
.footer__about p,
.footer__about a {
    color: #808080;
    font-family: 'Special Elite'
}
.footer__about a:hover {
    color: orangered;
}
.footer__site__title {
    width: 300px;
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
    font-family: 'Special Elite'
}
.footer__link__social {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-top: 1rem;
}
.link__social {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 4rem;
}
.social__icons {
    width: 35px;
    fill: white;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.social__icons:hover {
    color: orangered;
    fill: orangered;
}
.footer__nav {
    display: flex;
    justify-content: center;
    width: 300px;
    margin-top: 1rem;
    line-height: 2;
}
.footer__nav a{
    color: white;
    font-family: 'Special Elite'
}
.footer__nav a:hover {
    color: orangered;
}
.footer__copyright {
    text-align: center;
    width: 100vw;
    margin-top: 3rem;
    margin-bottom: 1rem;
}
.footer__copyright a {
    color: rgb(80, 80, 80);
    font-family: 'Special Elite'
}

/* .advertisment{
    margin: 0 auto;
    width: 100%;
    max-width: 728px;
    height: 90px;
    background-color: chartreuse;
    margin-top: 2rem;
} */

/* https://support.google.com/google-ads/answer/7031480?hl=en-AU */

/* @media only screen and (max-width: 600px) {
    .advertisment{
        width: 728px;
        height: 90px;
    }
  } */

  /* @media only screen and (max-width: 600px) {
    .advertisment{
        width: 468px;
        height: 60px;
    }
  } */
/* @media only screen and (max-width: 600px) {
    .advertisment{
        width: 300px;
        height: 50px;
    }
  } */
